# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environment
venv/

# Environment files
.env

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# IDE configs
.vscode/
.idea/
